{% extends "base.html" %}
{% load system_tag %}

{% block head %}
    <h3>Machine Summary Page 
      {% if request.user.is_authenticated %}         
          <small><a href="{% url 'create' %}"> Create New Request </a></small>
        {% endif %}
      
    </h3>

{% endblock head %}


{% block form_content %}
<div class="row">
	<!-- Parameter Section -->
    
             {% for obj in objs %}
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title" id="each_param">
                    <!-- <h2><small>{{param.description}}</small></h2> -->
                    <h2><small><a href="{% url 'machine_Status' obj.name %}">{{obj.name}}</a></small></h2>
                    <div class="clearfix"></div>
                  </div>
					<div class="x_content">
            <table class="table table-striped">
              <tr>
                 <th>Status</th>
                 <th>Qty</th>
               </tr>
              {% for m in machines|in_machine_type:obj.name  %}
                <tr>
                	<td>{{ m.status }}</td>
                  <td>{{ m.number }}</td>
                </tr>
              {% endfor %}
            </table>
					</div>
                </div>
              </div>
              {% endfor %}
              <!-- End Parameter-->
</div>
{% endblock form_content %}